{
  "mappings": {
    "play": {
      "if": { "running": "app.exe" },
      "then": { "key": "space" },
      "else": { "exec": ["app2.exe", "/play"] }
    },
    "stop": { "key": "space" },
    "open": { "exec": "app3.exe" },
    "close": { "exec": ["app4.exe", "--with", "--args"] },
    "fun1": [
      { "exec": "app5.exe" },
      { "key": "space" }
    ]
  }
}
